@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeatureFlag = Context.Features.Get<ITrackingConsentFeature>();
    var showBannerFlag = !consentFeatureFlag?.CanTrack ?? false;
    var cookieStr = consentFeatureFlag?.CreateConsentCookie();
}

<style>
    #testDiv {
        z-index: 1000;
        position: fixed;
        width: 400px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(255, 255, 255, 0.9);
        padding: 20px 30px 20px 30px;
        font-family: 'Century Gothic', sans-serif;
        box-shadow: 0px 3px 10px 5px rgba(0, 0, 0, 0.4);
        text-align: center;
        border-radius: 30px 30px 0 0;
    }

    #testDiv button {
        display: block;
        margin-left: auto;
        margin-right: auto;
        border: none;
        background-color: green;
        padding: 10px 50px;
        margin-top: -5px;
        color: white;
        transition: all ease 0.5s;
    }

        #testDiv button:hover {
            background-color: darkgreen;
        }

    #testDiv h3 {
        font-size: 22px;
    }

    #testDiv p {
        font-size: 13px;
    }

    #testDiv a {
        color: gray;
        text-decoration: underline;
    }
</style>

@if (showBannerFlag)
{
    <div id="testDiv">
        <h3 class="display-6">Cookie Policy</h3>
        <p>PLEASE ACCEPT OUR <a asp-page="/CookiePolicy">COOKIE POLICY</a>.   </p>
        <button type="button" data-cookie-string="@cookieStr">
            <span aria-hidden="true">Accept</span>
        </button>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#testDiv button[data-cookie-string]").bind("click", function () {
                document.cookie = $("#testDiv button").attr("data-cookie-string");
                $("#testDiv").hide();
            });
        });
    </script>
}  