@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeatureFlag = Context.Features.Get<ITrackingConsentFeature>();
    var showBannerFlag = !consentFeatureFlag?.CanTrack ?? false;
    var cookieStr = consentFeatureFlag?.CreateConsentCookie();
}

@if (showBannerFlag)
{
    <div id="cookieConsentdiv">
        <h3 class="display-6">Cookie Policy</h3>
        <p>PLEASE ACCEPT OUR <a asp-page="/CookiePolicy">COOKIE POLICY</a>.   </p>
        <button type="button" data-cookie-string="@cookieStr">
            <span aria-hidden="true">Accept</span>
        </button>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#cookieConsentdiv button[data-cookie-string]").bind("click", function () {
                document.cookie = $("#cookieConsentdiv button").attr("data-cookie-string");
                $("#cookieConsentdiv").hide();
            });
        });
    </script>
}  