@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model FilterViewModel

<div>
    <form asp-controller="Home" asp-action="allMummies" method="post">

        <label asp-for="Sex">SEX:</label>
        @Html.DropDownListFor(m => m.Sex, new SelectList(Model.Sex), "Select Sex", new {@class = "form-control"})
        
    </form>
</div>