
@{
}

@model Intex2Group22.Models.Burialmain

<h1>Fill in the Main Burial Information Below</h1>

<div>
    <form method="post">
        <label asp-for="Burialid">Burial Identification Number</label>
        <input asp-for="Burialid"/><br/>


    </form>
</div>