@{
}
@model Bodyanalysischart

<form method="post" asp-action="EditBodyChart">

    <input type="hidden" asp-for="Burialid">
    <label asp-for="Observations">Observations: </label>
    <input asp-for="Observations" />
    <br />
    <label asp-for="Robust">Robust: </label>
    <input asp-for="Robust" />
    <br />
    <label asp-for="Supraorbitalridges">Supraorbital Ridges: </label>
    <input asp-for="Supraorbitalridges" />
    <br />
    <label asp-for="Orbitedge">Orbit Edge: </label>
    <input asp-for="Orbitedge" />
    <br />
    <label asp-for="Parietalblossing">Parietal Blossing: </label>
    <input asp-for="Parietalblossing" />
    <br />
    <label asp-for="Gonion">Gonion: </label>
    <input asp-for="Gonion" />
    <br />
    <label asp-for="Nuchalcrest">Nuchalcrest: </label>
    <input asp-for="Nuchalcrest" />
    <br />
    <label asp-for="Sphenooccipitalsynchondrosis">Sphenooccipital synchondrosis: </label>
    <input asp-for="Sphenooccipitalsynchondrosis" />
    <br />
    <label asp-for="Lambdoidsuture">Lambdoid suture: </label>
    <input asp-for="Lambdoidsuture" />
    <br />
    <label asp-for="Squamossuture">Squamos suture: </label>
    <input asp-for="Squamossuture" />
    <br />
    <label asp-for="Toothattrition">Tooth attrition: </label>
    <input asp-for="Toothattrition" />
    <br />
    <label asp-for="Tootheruptionageestimation">Tooth eruptionage estimation: </label>
    <input asp-for="Tootheruptionageestimation" />
    <br />
    <label asp-for="Ventralarc">Ventralarc: </label>
    <input asp-for="Ventralarc" />
    <br />
    <label asp-for="Subpubicangle">Subpubic angle: </label>
    <input asp-for="Subpubicangle" />
    <br />
    <label asp-for="Sciaticnotch">Sciatic notch: </label>
    <input asp-for="Sciaticnotch" />
    <br />
    <label asp-for="Sciaticnotch">Sciatic notch: </label>
    <input asp-for="Sciaticnotch" />
    <br />
    <label asp-for="MedicalIpRamus">Medical Ip Ramus: </label>
    <input asp-for="MedicalIpRamus" />
    <br />
    <label asp-for="Femur">Femur: </label>
    <input asp-for="Femur" />
    <br />
    <label asp-for="Femurheaddiameter">Femur head diameter: </label>
    <input asp-for="Femurheaddiameter" />
    <br />
    <label asp-for="Femurlength">Femur length: </label>
    <input asp-for="Femurlength" />
    <br />
    <label asp-for="Humerus">Humerus: </label>
    <input asp-for="Humerus" />
    <br />
    <label asp-for="Humerusheaddiameter">Humerus head diameter: </label>
    <input asp-for="Humerusheaddiameter" />
    <br />
    <label asp-for="Humeruslength">Humerus length: </label>
    <input asp-for="Humeruslength" />
    <br />
    <label asp-for="Estimatestature">Estimate stature: </label>
    <input asp-for="Estimatestature" />
    <br />
    <label asp-for="Osteophytosis">Osteophytosis: </label>
    <input asp-for="Osteophytosis" />
    <br />
    <label asp-for="CariesPeriodontalDisease">Caries Periodontal Disease: </label>
    <input asp-for="CariesPeriodontalDisease" />
    <br />
    <label asp-for="Notes">Notes: </label>
    <input asp-for="Notes" />
    <br />
    <button type="submit">Update</button>

</form>
