@{
}

@model Color

<h1>Edit Color</h1>

<div class="container card card-outline-primary bg-light text-left m-1 p-1 mx-auto" style="width: 60rem;">
    <form method="post" asp-action="EditColor">
        <input type="hidden" asp-for="Id" />
        <label asp-for="Value">Color: </label>
        <select asp-for="Value">
            @foreach (Color c in ViewBag.Colors)
            {
                <option value="@c.Value">@c.Value</option>
            }
            </select>
            <br />
        <button class="btn btn-primary" style="text-align:center" type="submit">Submit Mummy</button>

    </form>

</div>
