@{
}
@model Textile

<h1>Edit Textile</h1>
<div class="container card card-outline-primary bg-light text-left m-1 p-1 mx-auto" style="width: 60rem;">
<form method="post" asp-action="EditTextile">

        <input type="hidden" asp-for="Id">
        <label asp-for="Description">Description: </label>
        <input asp-for="Description">
        <br />
        <label asp-for="Locale">Locale: </label>
        <input asp-for="Locale">
        <br />
        <label asp-for="Direction">Direction: </label>
        <input asp-for="Direction">
        <br />
        <label asp-for="Sampledate">Sample Date: </label>
        <input asp-for="Sampledate" />
        <br />
        <label asp-for="Estimatedperiod">Estimated Period: </label>
        <input asp-for="Estimatedperiod" />
        <br />
        <button class="btn btn-primary" style="text-align:center" type="submit">Update</button>

</form>
</div>
