@{
}

<h1>Our hypothesis: burial practices changed over time</h1>

<h3>Graphs</h3>
<div class="sidebar">
    <h3>Our findings:</h3>
    <a href="#Children">More children buried in newer burials</a>
    <a href="#SE">More SE burials vs. NE and SW</a>
    <a href="#Samples">More samples collected over time</a>
    <a href="#Redheads">More redheads found in newer burials</a>
    <a href="#Fullwrap">More fully body wrapping found in newer burials</a>
    <a href="#Squareeastwest"></a>
    <a href="#Deteriotation"></a>
    <a href="#Facebundles">Increase in facebundles as time goes on</a>
    <a href="#Moreeast">More burials at east than west</a>
    <a href="#North">A lot of burials at north, but none at south</a>
    <a href="#Female">Females found in newer burials, males found throughout</a>
    <a href="#Headdirection">Head direction split evenly in older burials. More facing west in newer burials</a>
    <a href="#200">More burials at 200 than 150 in Square north south</a>
</div>