@{
}

<h1>Our Hypothesis: Burial Practices Changed Over Time</h1>

<h3>Graphs</h3>

<div class="sidebar">
    <h3>Our findings:</h3>
    <a href="#Children">More children buried in newer burials</a>
    <a href="#SE">More SE burials vs. NE and SW</a>
    <a href="#Samples">More samples collected over time</a>
    <a href="#Redheads">More redheads found in newer burials</a>
    <a href="#Fullwrap">More full body wrapping found in newer burials</a>
    <a href="#Squareeastwest"></a> More people buried in square east west at depth 20 than depth 0 or 30
    <a href="#Deteriotation"></a>Higher percentage of full body wrappings, but also high percentage of deteriorated bodies
    <a href="#Facebundles">Increase in facebundles as time goes on</a>
    <a href="#Female">Females found in newer burials, males found throughout</a>
    <a href="#Headdirection">Head direction split evenly in older burials. More facing west in newer burials</a>
    <a href="#200">More burials at 200 than 150 in Square north south</a>
    <br/>
    <br/>
</div>

<div>
    <div class="row justify-content-left">
        <div class="col-5">
            <img src="~/pictures/graphs/children.png" id="Children" class="img-fluid image-spacing" />
        </div>
        <div class="col-5">
            <img src="~/pictures/graphs/subadult.png" class="img-fluid image-spacing" />
        </div>
        <p>The graphs above show that more children have been discovered in newer burials. (The larger the depth the older the burial) </p>
    </div>

    <br/>
    <br/>

    <div class="row justify-content-left">
        <div class="col-5">
            <img src="~/pictures/graphs/se.png" id="SE" class="img-fluid image-spacing" />
            <p>The graph above shows that there are more South East burials than North East and South West</p>
        </div>
        <div class="col-5">
            <img src="~/pictures/graphs/samplescollected.png" id="Samples" class="img-fluid image-spacing" />
            <p>The graph above shows that more samples have been collected in newer burials</p>
        </div>
    </div>

    <br />
    <br />

    <div class="row justify-content-left">
        <div class="col-5">
            <img src="~/pictures/graphs/redheads.png" id="Redheads" class="img-fluid image-spacing" />
            <p>The graph above shows that more people with red hair have been discovered in newer burials</p>
        </div>
        <div class="col-5">
            <img src="~/pictures/graphs/wrapping.png" id="FullWrap" class="img-fluid image-spacing" />
            <p>The graph above shows that more full wrapping has been discovered in newer burials. (This graph also aids in the deteriotation theory)</p>
        </div>
    </div>

    <br />
    <br />

    <div class="row justify-content-left">
        <div class="col-5">
            <img src="~/pictures/graphs/squareeastwest.png" id="Squareeastwest" class="img-fluid image-spacing" />
            <p>The graph above shows that there are more burials in square east west at a depth of 20 than 0 or 30</p>
        </div>
        <div class="col-5">
            <img src="~/pictures/graphs/preservation.png" id="Deteriotation" class="img-fluid image-spacing" />
            <p>The graph above along with the wrapping graph shows that there is a higher percentage of full body wrappings at depth 0.93, but there is also more deterioration</p>
        </div>
    </div>

    <br />
    <br />

    <div class="row justify-content-left">
        <div class="col-5">
            <img src="~/pictures/graphs/facebundles.png" id="Facebundles" class="img-fluid image-spacing" />
            <p>The graph above shows that more facebundles have been discovered in newer burials</p>
        </div>
        <div class="col-5">
            <img src="~/pictures/graphs/sex.png" id="Female" class="img-fluid image-spacing" />
            <p>The graph above shows that more women have been discovered in newer burials, but men have been found throughout</p>
        </div>
    </div>

    <br />
    <br />

    <div class="row justify-content-left">
        <div class="col-5">
            <img src="~/pictures/graphs/headdirection.png" id="Headdirection" class="img-fluid image-spacing" />
            <p>The graph above shows that in newer burials the head is more likely to face the west</p>
        </div>
        <div class="col-5">
            <img src="~/pictures/graphs/squarenorthsouth.png" id="200" class="img-fluid image-spacing" />
            <p>The graph above shows in square north south there are more burials at 200 than 150</p>
        </div>
    </div>
</div>